.m-dashRegion{
	position: relative;min-width: 100%;min-height: 100%;padding:20px;
}
.m-canvas{
	position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);text-align: center;background: #1e2738;width:1600px;height:720px;border:1px solid #2e3d52;
	.box {
		width:1600px;height:720px;transform-origin:0 0;
		.grid{
			width:1600px;height:720px;
		}
	}
}

.m-dashbox{
	position: absolute;background: #1f2e41;
}

.m-graphic{
    position: absolute;top: 0;left: 0;bottom: 0;right: 0;
    h2{text-align:left;padding-left:20px;height:38px;line-height: 38px;color:#7e92b5;}
}

.m-frame{
    position: absolute;top: 38px;left: 0;bottom: 0;right: 0;
}

.m-echarts{
	width:100%;height:100%;
}
