.m-hd .logo img{
	float:left;
	width:80px;
	margin-left:20px;
	margin-top:13px;
}
.m-hd .label{
	float:left;
	margin-left:20px;
	margin-top:15px;
}
.m-hd .ln{
	font-size:22px;
	margin-bottom:5px;
}
.m-hd .ln1{
	font-size:16px;
}
.m-hd .opt{
	margin-right:15px;
	margin-top:17px;
}
.m-hd .opt .item{
	float:left;
	margin-left:20px;
	padding-left:20px;
	cursor:pointer;
}
.m-hd .opt .message{
	background-position:0 5px;
}
.m-hd .opt .opera{
	background-position:0 -71px;
}
.m-hd .opt .fullscreen{
	background-position:0 -131px;
}
.m-hd .user{
	text-align:right;
	margin-right:15px;
	margin-top:10px;
}
.m-ft{
	margin-top:12px;
}
.m-ft .line{
	height:24px;
	line-height:24px;
}
.m-banner{
	background:url("../img/banner.jpg") #00f;
	background-size:cover;
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
}
.m-banner .box{
	position:relative;
	width:1000px;
	height:100%;
	margin:0 auto;
	overflow:hidden;
}
.m-banner .col-1{
	position:absolute;
	top:50%;
	left:0;
	width:600px;
	height:200px;
	margin-top:-100px;
}
.m-banner .col-2{
	position:absolute;
	top:50%;
	right:0;
	width:350px;
	height:360px;
	margin-top:-190px;
}
.m-banner .wrd{
	font-size:46px;
	color:#fff;
	margin-top:25px;
}
.m-banner .wrd2{
	font-size:28px;
	color:#fff;
	margin-top:40px;
}
.m-form{
	background:#fff;
	height:360px;
}
.m-form .ttl{
	height:60px;
	line-height:60px;
	padding-left:40px;
	font-size:16px;
	letter-spacing:3px;
	font-weight:bold;
	border-bottom:1px solid #efefef;
}
.m-form .form{
	padding:20px 30px;
}
.m-form .form .ipt{
	margin-bottom:20px;
	border:1px solid #efefef;
}
.m-form .form .icn{
	float:left;
	border-right:1px solid #efefef;
	width:40px;
	height:40px;
	background-color:#f3f3f3;
}
.m-form .form input{
	border:0;
	height:40px;
	line-height:40px;
	padding-left:10px;
}
.m-form .u-btn{
	margin-top:20px;
}
.m-form .username{
	background-position:10px -184px;
}
.m-form .password{
	background-position:11px -243px;
}
.m-nav .links{
	float:right;
	margin-right:15px;
	color:#fff;
}
.m-nav .item{
	float:left;
	margin-left:38px;
	cursor:pointer;
}
.m-nav .item-active{
	font-size:18px;
}
.m-choice .group h4{
	height:40px;
	line-height:40px;
	padding-left:50px;
	cursor:pointer;
	white-space:nowrap;
}
.m-choice .group .items{
	display:none;
}
.m-choice .group.z-open .items{
	display:block;
}
.m-choice .group .metro{
	background-position:11px -379px;
}
.m-choice .group .bus{
	background-position:11px -308px;
}
.m-choice .group .od{
	background-position:11px -437px;
}
.m-choice .item{
	height:40px;
	line-height:40px;
	border-left:2px solid #fff;
	padding-left:60px;
	cursor:pointer;
	white-space:nowrap;
}
.m-choice .item-active{
	background:#efefef;
	color:#38b25d;
	border-left:2px solid #38b25d;
}
.m-mdl{
	background:#fff;
}
.m-filter{
	margin:20px;
	width:100%;
	padding:10px 20px;
}
.m-filter .item{
	margin-bottom:20px;
}
.m-filter .item .ttl{
	height:28px;
	line-height:28px;
	margin-bottom:8px;
}
.m-filter .item .subs label{
	margin-right:17px;
}
.m-filter .item .subs label input{
	margin-right:2px;
}
.m-graphic{
	margin:20px;
	height:300px;
	text-align:center;
}
.m-slider{
	margin:10px;
	cursor:pointer;
}
.m-slider img{
	width:30px;
	height:20px;
}