.m-hd .logo img{
	float:left;
	width:80px;
	margin-left:20px;
	margin-top:13px;
}
.m-hd .label{
	float:left;
	margin-left:20px;
	margin-top:15px;
}
.m-hd .ln{
	font-size:22px;
	margin-bottom:5px;
}
.m-hd .ln1{
	font-size:16px;
}
.m-hd .opt{
	position:relative;
	margin-right:15px;
	margin-top:17px;
}
.m-hd .opt .item{
	float:left;
	margin-left:20px;
	padding-left:20px;
	cursor:pointer;
}
.m-hd .opt .message{
	background-position:0 5px;
}
.m-hd .opt .opera{
	background-position:0 -71px;
}
.m-hd .opt .fullscreen{
	background-position:0 -131px;
}
.m-hd .opt .u-menu-opera .item{
	float:none;
	margin:0;
}
.m-hd .user{
	text-align:right;
	margin-right:15px;
	margin-top:10px;
}
.m-hd .u-menu-opera{
	position:absolute;
	top:-6px;
	left:82px;
	background:#a4a4a4;
	border:0;
	width:80px;
	color:#fff;
}
.m-ft{
	margin-top:12px;
}
.m-ft .line{
	height:24px;
	line-height:24px;
}
.m-banner{
	background:url("../img/banner.jpg") #00f;
	background-size:cover;
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
}
.m-banner .box{
	position:relative;
	width:1000px;
	height:100%;
	margin:0 auto;
	overflow:hidden;
}
.m-banner .col-1{
	position:absolute;
	top:50%;
	left:0;
	width:600px;
	height:200px;
	margin-top:-100px;
}
.m-banner .col-2{
	position:absolute;
	top:50%;
	right:0;
	width:350px;
	height:360px;
	margin-top:-190px;
}
.m-banner .wrd{
	font-size:46px;
	color:#fff;
	margin-top:25px;
}
.m-banner .wrd2{
	font-size:28px;
	color:#fff;
	margin-top:40px;
}
.m-banner-1{
	top:50px;
}
.m-form{
	background:#fff;
	height:360px;
}
.m-form .ttl{
	height:60px;
	line-height:60px;
	padding-left:40px;
	font-size:16px;
	letter-spacing:3px;
	font-weight:bold;
	border-bottom:1px solid #efefef;
}
.m-form .form{
	padding:20px 30px;
}
.m-form .form .ipt{
	margin-bottom:20px;
	border:1px solid #efefef;
}
.m-form .form .icn{
	float:left;
	border-right:1px solid #efefef;
	width:40px;
	height:40px;
	background-color:#f3f3f3;
}
.m-form .form input{
	border:0;
	height:40px;
	line-height:40px;
	padding-left:10px;
}
.m-form .u-btn{
	margin-top:20px;
}
.m-form .username{
	background-position:10px -184px;
}
.m-form .password{
	background-position:11px -243px;
}
.m-nav .links{
	float:right;
	margin-right:15px;
	color:#fff;
}
.m-nav .item{
	float:left;
	margin-left:38px;
	cursor:pointer;
}
.m-nav .item-active{
	font-size:18px;
}
.m-choice .group h4{
	height:40px;
	line-height:40px;
	padding-left:50px;
	cursor:pointer;
	white-space:nowrap;
}
.m-choice .group .items{
	display:none;
}
.m-choice .group.z-open .items{
	display:block;
}
.m-choice .group .metro{
	background-position:11px -379px;
}
.m-choice .group .bus{
	background-position:11px -308px;
}
.m-choice .group .od{
	background-position:11px -437px;
}
.m-choice .item{
	height:40px;
	line-height:40px;
	border-left:2px solid #fff;
	padding-left:60px;
	cursor:pointer;
	white-space:nowrap;
}
.m-choice .item-active{
	background:#efefef;
	color:#38b25d;
	border-left:2px solid #38b25d;
}
.m-mdl{
	background:#fff;
}
.m-filter{
	margin:20px;
	width:100%;
	padding:10px 20px;
}
.m-filter .item{
	margin-bottom:20px;
}
.m-filter .item .ttl{
	height:28px;
	line-height:28px;
	margin-bottom:8px;
}
.m-filter .item .subs label{
	margin-right:17px;
}
.m-filter .item .subs label input{
	margin-right:2px;
}
.m-graphic{
	margin:20px;
	height:300px;
	text-align:center;
}
.m-slider{
	margin:10px;
	cursor:pointer;
}
.m-slider img{
	width:30px;
	height:20px;
}
.m-list{
	background:#f4f4f4;
	padding:0 25px;
	padding-bottom:50px;
}
.m-list .item{
	margin:25px 0;
}
.m-list .item .img{
	position:relative;
	width:310px;
	height:160px;
}
.m-list .item .img img{
	width:100%;
	height:100%;
}
.m-list .item .img .mask{
	position:absolute;
	left:0;
	bottom:0;
	width:100%;
	height:60px;
	line-height:60px;
	font-size:32px;
	color:#fff;
	background:#3b3c41;
	text-align:center;
	opacity:0.5;
}
.m-list .item .wrap{
	width:100%;
}
.m-list .item .box{
	height:160px;
	background:#fff;
	margin-left:335px;
	padding:12px 25px;
}
.m-list .item .box .ttl{
	font-size:22px;
	font-weight:bold;
	margin-bottom:15px;
}
.m-list .item .box .des{
	line-height:24px;
}
.m-list .item .box .link{
	display:block;
	float:right;
	color:#38b25d;
	cursor:pointer;
}
.m-links{
	position:absolute;
	width:100%;
	height:100%;
	left:0;
	top:0;
}
.m-links .circle{
	position:absolute;
	width:110px;
	height:110px;
}
.m-links .circle .bgc{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:#b8c1c4;
	opacity:0.5;
	border-radius:50%;
}
.m-links .img{
	position:relative;
	z-index:100;
	height:40px;
	margin:0 auto;
	text-align:center;
	margin-top:20px;
}
.m-links .img img{
	height:100%;
}
.m-links .indx{
	position:relative;
	z-index:100;
	color:#fff;
	font-size:16px;
	text-align:center;
	margin-top:5px;
}
.m-links .city{
	top:0;
	left:60px;
}
.m-links .tide{
	width:130px;
	height:130px;
	left:200px;
	top:14px;
}
.m-links .tide .img{
	height:50px;
}
.m-links .wall{
	width:130px;
	height:130px;
	left:0;
	top:110px;
}
.m-links .wall .img{
	height:50px;
}
.m-links .station{
	width:85px;
	height:85px;
	left:145px;
	top:135px;
}
.m-links .station .img{
	margin-top:11px;
}
.m-links .station .index{
	margin-top:3px;
}
.m-links .wash{
	left:110px;
	top:240px;
}